Repository XionWCFM/xionwcfm-lib, changes with the labels that .github/labeler.yml gives for each.
All labels: @xionwcfm/jotai, @xionwcfm/react-query, @xionwcfm/react, @xionwcfm/lotties, @xionwcfm/xds, @xionwcfm/utils, @xionwcfm/token

.github/labeler.yml:

"@xionwcfm/jotai":
  - changed-files:
      - any-glob-to-any-file: "packages/jotai/**"

"@xionwcfm/react-query":
  - changed-files:
      - any-glob-to-any-file: "packages/react-query/**"

"@xionwcfm/react":
  - changed-files:
      - any-glob-to-any-file: "packages/react/**"

"@xionwcfm/lotties":
  - changed-files:
      - any-glob-to-any-file: "packages/lotties/**"

"@xionwcfm/xds":
  - changed-files:
      - any-glob-to-any-file: "packages/xds/**"

"@xionwcfm/utils":
  - changed-files:
      - any-glob-to-any-file: "packages/utils/**"

"@xionwcfm/token":
  - changed-files:
      - any-glob-to-any-file: "packages/token/**"

chore: prepush commands changes
  lefthook.yml
  packages/jotai/package.json
  packages/react/package.json
  packages/token/package.json
  packages/token/src/index.ts
  packages/xds/package.json
  packages/xds/src/collapsible.stories.tsx
  packages/xds/src/drawer.stories.tsx
  packages/xds/src/drawer.tsx
Labels: @xionwcfm/jotai, @xionwcfm/react, @xionwcfm/xds, @xionwcfm/token

feat: catalog add
  .nvmrc
  apps/playground/package.json
  package.json
  packages/icon/package.json
  packages/jotai/package.json
  packages/lotties/package.json
  packages/react-query/package.json
  packages/react/package.json
  packages/token/package.json
  packages/utils/package.json
  packages/xds/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @xionwcfm/jotai, @xionwcfm/react-query, @xionwcfm/react, @xionwcfm/lotties, @xionwcfm/xds, @xionwcfm/utils, @xionwcfm/token

feat: codecov add
  .github/workflows/vitest-report-coverage.yml
  package.json
  packages/jotai/vitest.config.ts
  packages/react-query/vitest.config.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  packages/xds/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.mts
Labels: @xionwcfm/jotai, @xionwcfm/react-query, @xionwcfm/react, @xionwcfm/xds

fix: workflows error fix
  .github/workflows/vitest-report-coverage.yml
Labels: none

fix: workflows error fix
  .github/workflows/ci.yml
Labels: none
